<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentalcarsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/caricon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/caricon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentalCarSystem">
        <activity android:name=".Admin.View_All_Products"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            ></activity>
        <activity android:name=".Admin.View_All_FeedBack"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Admin.View_All_RequestOrder"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Admin.View_AllPlacedOrder"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Admin.View_Vendors"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Admin.View_Users"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Admin.AdminDashBoard"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Admin.AdminLogin"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar"
            />
        <activity android:name=".Vendor.VendorUpdateProductDetails" />
        <activity
            android:name=".Vendor.VendorAddProduct"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".Vendor.VendorViewProducts"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".Vendor.VendorRequestOrder"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".Vendor.VendorPlacedOrders"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".Vendor.VendorFeedBack"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity android:name=".Vendor.VendorRegister" />
        <activity
            android:name=".Vendor.VendorDashBoard"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity android:name=".Vendor.VendorLogin" />
        <activity
            android:name=".User.SearchProducts"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".User.ProductsDetails"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".User.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".User.UserRegister"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".User.UserLogin"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.RentalCarSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>